*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: #F2E5BF;
}
.error{
    background-color: #F2E5BF;
    margin: 0 auto;
    
}
.error img{
    background-color: #F2E5BF;
    width: auto;
    height: auto;
    background-size: cover;
    background-position: center;
}
