*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: #F2E5BF;
}
.error{
    background-color: #F2E5BF;
    margin: 0 auto;
    
}
.error img{
    background-color: #F2E5BF;
    width: auto;
    height: auto;
    background-size: cover;
    background-position: center;
}

.boton{
    width: 100%;
}
.boton1{ 
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #257180;
    padding: 5px;
}
.b{
    background-color:#FD8B51;
    border-radius: 5px;   
}
.b:hover{
    background-color: #cb6040;
}
a{
    font-size: 25px;
    font-weight: 20px;
}
.linea{
    text-decoration: none;
    font-size: x-large;
    font-weight: 500;   
}