.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

header{
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
}

main{
    padding-top: 70px;
}

.bodyRegister{
    background-color: #F2E5BF;
}

.btnInicio{
    background-color: #F2E5BF !important;
}

.fa-cart-shopping{
    color: #257180; 
}

.btnSecondary{
    background-color: #257180 !important;
}