*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.perfiles{
    height: 20vh;
    width: 20vh;
    border: 5px solid #CB6040;
    object-fit: cover;
}
.nosotros{
    color: #257180;    
}
.perfil{
    color: #257180;
    background-color: transparent;
}

main{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
}


