*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imgSecciones
{
    height: 20vh;
    width: 20vh;
    border: none;
    object-fit: cover;
}
.card-title
{
    font-size: 2em;
    font-weight: bold;
    color: #257180;
    border: #257180 1px solid;
    text-align: center;
    padding: 10px;
    background-color: #F2E5BF;
}
.card-text
{
    font-size: 25px;
    color: #257180;
    text-align: center;
    padding: 10px;
    background-color: #f4e9c9;
}
#estilos-btn
{
    background-color: #257180;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px;
    margin: 10px;
}

.fa-cart-shopping{
    font-size: 30px;
    margin-top: 10px;
 
}
#estiloMain
{
    background-color: #F2E5BF;
}
#styleCard
{
    background-color: #F2E5BF;
   
}
#styleCardSecciones
{
    background-color: #F2E5BF;
    border: none;
}
#styleCardSecciones:hover
{
    background-color: #F2E5BF;
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

/* .ocultar{
    display: none;
} */

@media screen and (max-width: 992px) {
    .ocultar{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .ocultarPublicidad{
        display: none;
    }
}