*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imgSecciones
{
    height: 25vh;
    width: 25vh;
    border: none;
    object-fit: contain;
}
.card-title
{
    font-size: 2em;
    font-weight: bold;
    color: #257180;
    border: #257180 1px solid;
    text-align: center;
    padding: 10px;
    background-color: #F2E5BF;
}
.card-text
{
    font-size: 25px;
    color: #257180;
    text-align: center;
    padding: 10px;
    background-color: #f4e9c9;
}
#estilos-btn
{
    background-color: #257180;
    color: white;
    font-size: 20px;
    border: none;
 
}
#estiloMain
{
    background-color: #F2E5BF;
}
#styleCard
{
    background-color: #F2E5BF;
}