*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#styleMainGaleria{
    background-color: #F2E5BF;
}

#styleCard
{
    background-color: #F2E5BF;
}

.stylePortadaGaleria {
    width: 100%;
    height: 100vh;
}